In [29]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [30]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kuytun,RU,2021-11-23 17:38:11,54.3419,101.5036,15.98,95,94,7.27
1,1,Mar Del Plata,AR,2021-11-23 17:35:05,-38.0023,-57.5575,62.62,77,0,18.01
2,2,Iqaluit,CA,2021-11-23 17:38:12,63.7506,-68.5145,31.73,93,75,21.00
3,3,Butaritari,KI,2021-11-23 17:35:53,3.0707,172.7902,81.70,76,52,17.27
4,4,Vagur,FO,2021-11-23 17:38:12,61.4732,-6.8119,48.61,86,86,33.02

In [31]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [32]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [33]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [38]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Butaritari,KI,2021-11-23 17:35:53,3.0707,172.7902,81.70,76,52,17.27
7,7,Japura,ID,2021-11-23 17:38:14,-0.3167,102.3500,75.22,96,100,0.94
10,10,Rikitea,PF,2021-11-23 17:35:19,-23.1203,-134.9692,76.30,81,3,14.43
12,12,Coahuayana,MX,2021-11-23 17:38:15,18.7333,-103.6833,87.28,53,8,5.64
14,14,Touros,BR,2021-11-23 17:36:10,-5.1989,-35.4608,86.90,64,61,15.37
17,17,Samarai,PG,2021-11-23 17:38:16,-10.6167,150.6667,82.87,78,24,10.80
18,18,Banfora,BF,2021-11-23 17:38:17,10.6333,-4.7667,86.90,16,1,3.91
41,41,Castro,BR,2021-11-23 17:38:25,-24.7911,-50.0119,84.40,34,9,4.63
42,42,Nacala,MZ,2021-11-23 17:38:25,-14.5428,40.6728,80.06,83,15,12.88
46,46,Puerto Escondido,MX,2021-11-23 17:37:30,15.8500,-97.0667,83.23,69,20,8.05

In [39]:
preferred_cities_df.count()

City_ID       161
City          161
Country       160
Date          161
Lat           161
Lng           161
Max Temp      161
Humidity      161
Cloudiness    161
Wind Speed    161
dtype: int64

In [40]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
3         Butaritari      KI     81.70   3.0707  172.7902
7             Japura      ID     75.22  -0.3167  102.3500
10           Rikitea      PF     76.30 -23.1203 -134.9692
12        Coahuayana      MX     87.28  18.7333 -103.6833
14            Touros      BR     86.90  -5.1989  -35.4608
17           Samarai      PG     82.87 -10.6167  150.6667
18           Banfora      BF     86.90  10.6333   -4.7667
41            Castro      BR     84.40 -24.7911  -50.0119
42            Nacala      MZ     80.06 -14.5428   40.6728
46  Puerto Escondido      MX     83.23  15.8500  -97.0667

In [41]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [42]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [43]:
hotel_df

           City Country  Max Temp      Lat       Lng            Hotel Name
3    Butaritari      KI     81.70   3.0707  172.7902
7        Japura      ID     75.22  -0.3167  102.3500
10      Rikitea      PF     76.30 -23.1203 -134.9692
12   Coahuayana      MX     87.28  18.7333 -103.6833
14       Touros      BR     86.90  -5.1989  -35.4608
..          ...     ...       ...      ...       ...                   ...
535    Kousseri      CM     87.76  12.0769   15.0306
537   Turmalina      BR     83.98 -17.2856  -42.7300
539   Pontianak      ID     75.18  -0.0333  109.3333
541       Goure      NE     87.03  13.9835   10.2704
545       Buala      SB     80.04  -8.1450  159.5921  Maringe Lagoon Lodge

[161 rows x 6 columns]

In [51]:
hotel_info = info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [52]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))